#lblCartCount {
    float: right;
    margin-top: -5px;
}
.search-box {
    margin-left: 20px;
}
@media (min-width: 300px);

#navbarCollapse { 
    min-width: 300px !important;
}
.user-bar {
    color: white;
    font-style: italic;
}