<div class="menu-container">
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <app-header></app-header>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">All Medicines <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Coronavirus Prevention</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Personal Care</a>
          </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Ayurveda Products</a>
        </li>
        <li class="nav-item">
           &nbsp;
        </li>
        <li class="nav-item">
            
        </li>      
      </ul>      
    </div>    
    <div>
        <img width="40" alt="checkout" src="assets/cart.png" />
        <button class="btn btn-outline-warning my-2 my-sm-0" type="button">Sign In</button>
    </div>
  </nav>
  <div class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>  
</div>
  <style type="text/css">
    .menu-container {
        width: 100%;
    }


  </style>