<div class="item">
    <div class="buttons">
      <span class="delete-btn"></span>
      <span class="like-btn"></span>
    </div>
 
    <div class="image">
      <img width="200" src="assets/{{ cartItem.imageUrl }}" alt="" />
    </div>
 
    <div class="description">
      <span>{{ cartItem.name }}</span>
      <span>{{ cartItem.desciption }}</span>
      <span>{{ cartItem.price | currency : 'INR' }}</span>
    </div>
 
    <div class="quantity">
      <button class="plus-btn" type="button" name="button">
        <img src="assets/plus.jpg" height="20" width="20" alt="add" />
      </button>
      <input type="text" name="name" value="{{ cartItem.qty }}">
      <button class="minus-btn" type="button" name="button">
        <img src="assets/minus.jpg" alt="substract" height="18" width="18"  />
      </button>
    </div> 
    <div class="total-price">Tot{{ cartItem.price * cartItem.qty | currency : 'INR' }}</div>
  </div>  