<div class="item">
    <div class="buttons">
      <span class="delete-btn"></span>
      <span class="like-btn"></span>
    </div>
 
    <div class="image">
      <img width="200" src="assets/{{ cartItem.imageUrl }}" alt="" />
    </div>
 
    <div class="description">
      <span>{{ cartItem.name }}</span>
      <span>{{ cartItem.name }}</span>
      <span>{{ cartItem.price | currency : 'INR' }}</span>
    </div>
 
    <div class="quantity">
      <button class="plus-btn" type="button" name="button">
        <img src="plus.svg" alt="" />
      </button>
      <input type="text" name="name" value="1">
      <button class="minus-btn" type="button" name="button">
        <img src="minus.svg" alt="" />
      </button>
    </div> 
    <div class="total-price">{{ cartItem.price * cartItem.quantity | currency : 'INR' }}</div>
  </div>  